# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
.parcel-cache/

# MySQL / DB dumps
*.sql
*.dump
